<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>{{portfolioName}}</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/grid.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <!-- Bootstrap core Scripts -->
    <script src="{% static "js/jquery.12.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom Scripts -->
    <script src="{% static "js/popup.js" %}"></script>


  </head>

  <body>

    <div class="container">
		<ul class="nav nav-pills">
			<li role="presentation"><a href="/portfolio_mng_app/">Home</a></li>
			<li role="presentation"><a href="/portfolio_mng_app/portfolios/">Portfolios</a></li>
			<li role="presentation" class="active"><a href="{% url 'assets_in_port' 1 %}">Assets</a></li>
			<li role="presentation"><a href="#">News</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Techical Study <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Compare Portfolios</a></li>
				<li><a href="#">Compare Securities</a></li>
				<li><a href="#">Backtest a Strategy</a></li>
			  </ul>
			</li>
		</ul>
	</div>


    <div class="container">
       <!--todo: 
          1. div editable: 'select portfolio' with django list
              and event that loads portfolio, and changes Name, 
			  Update person/time
          2. div editable: 'add security' with django autocomplete
      	--> 
	  <div class="row">
		<div class="col-md-3">
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="menu_portolios" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select ...
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="menu_portfolios">
			    {% for port in userPortfolios %}
				<li>
				    <a href="{% url 'assets_in_port' port.id %}">
				        {{port.name}}</a>
                </li>
			    {% endfor %}
			  </ul>
			</div>
		</div> 
		<div class="col-md-4">
			<div class="input-group">
			  <input type="text" class="form-control" id="in_secu" 
			    placeholder="Add a security ... ">
			  <span class="input-group-btn">
				<button class="btn btn-default grid_btn" type="button"
			        onclick="{% url 'popup_edit' 
			                 portfolioId 
                             document.getElementById('in_secu').value 
			                 %}"
			        >Add</button></span>
			</div>
		</div>
	  </div> 
	  <div class="row">
		<div class="col-md-7">Last updated yesterday @ 18:35 </div>
	  </div> 
	</div>


    <div class="container">		
	  <table class="table-striped table-hover">
		<tr>
			<td class="col-md-1 grid_head">Id</td>
			<td class="col-md-2 grid_head">Yid</td>
			<td class="col-md-2 grid_head">Position</td>
			<td class="col-md-3 grid_head">Action</td>
		</tr>
        {% for asset in assets %}
		<tr class="grid_elem">
			<td class="col-md-1">{{asset.id}}</td>
			<td class="col-md-2">{{asset.yid}}</td>
            <td class="col-md-2">{{asset.position}}</td>
			<td class="col-md-3">
				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-default grid_btn"
				        >Chart</button>
                  <a type="button" class="btn btn-default grid_btn"
                   href="{% url 'popup_edit' portfolioId asset.yid %}"
				        >Edit</a>

				</div>
			</td>
		</tr>
		{% endfor %}
      
      </table> 
      
    </div>
    
  </body>

</html>
