<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>My Portfolio</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/grid.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <!-- Bootstrap core Scripts -->
    <script src="{% static "js/jquery.12.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom Scripts -->

  </head>

  <body>

    <div class="container">
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="/portfolio_mng_app/">Home</a></li>
			<li role="presentation"><a href="/portfolio_mng_app/portfolios/">Portfolios</a></li>
			<li role="presentation"><a href="{% url 'assets_in_port' 1 %}">Assets</a></li>
			<li role="presentation"><a href="#">News</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Techical Study <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Compare Portfolios</a></li>
				<li><a href="#">Compare Securities</a></li>
				<li><a href="#">Backtest a Strategy</a></li>
			  </ul>
			</li>
		</ul>
	</div>




  </body>

</html>
