<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Delete Portfolio</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/popup.css" %}" rel="stylesheet">
    <!-- Bootstrap scripts -->
    <script src="{% static "js/jquery.12.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom scripts -->
    <script src="{% static "js/popup.js" %}"></script>


  </head>

  <body>

	<form>

	  <div class="container">
		  <div class="form-group">
			<div class="row">
				<div class="col-md-6">
				<!-- todo: django feed name of stock and portfolio
				-->
					<label>Do you want to remove "TSCO" from "Portfolio" ?
					</label>
				</div>
			</div>
		  </div>
		  <span/>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
				  <button class="btn btn-default popup_btn"
					onClick="close_popup('popup_delete_port.html',true,true);"
					>Cancel</button>
				  <button type="submit" 
					class="btn btn-default popup_del_btn">Delete
					</button>
				</div>
			</div>
		  </div>
	  </div>

	</form>

  </body>

</html>
