<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Add Portfolio</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/popup.css" %}" rel="stylesheet">
    <!-- Bootstrap scripts -->
    <script src="{% static "js/jquery.12.2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom scripts -->
    <script src="{% static "js/popup.js" %}"></script>


  </head>

  <body>

<!--    <form action="/your-name/" method="post">-->
<!--        <label for="your_name">Your name: </label>-->
<!--        <input id="your_name" type="text" name="your_name"-->
<!--                value="{{ current_name }}">-->
<!--        <input type="submit" value="OK">-->
<!--    </form>-->

	<form>
	  <div class="container">
		  <div class="form-group">
			<div class="row">
				<div class="col-md-2">
					<label>Security</label>
				</div>
				<div class="col-md-2">
					<label id="msg_security">TSCO</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label for="in_position">Position</label>
				</div>
				<div class="col-md-2">
					<input class="form-control" 
						id="in_position" placeholder="Enter Position...">
				</div>
			</div>
		  </div>
		  <span/>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
				  <button class="btn btn-default popup_btn"
					onClick="close_popup('popup_add_port.html'
					        ,true,true);"
					>Cancel</button>
				  <button type="submit" 
					class="btn btn-default popup_btn">Add
					</button>
				</div>
			</div>
		  </div>
	  </div>

	</form>

  </body>

</html>
